<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <!--
        Override the existing checkin command
      -->
      <command name="item:checkin">
        <patch:attribute name="type">Sitecore.ContentCheckIn.Framework.Commands.CheckIn,Sitecore.ContentCheckIn</patch:attribute> 
      </command>
    </commands>
    <settings>
      <!--  UNLOCKER ROLE
            The fully qualified role name users need to be a
            member of to see the CheckIn button
            Default value: sitecore\Unlocker
      -->
      <setting name="Sitecore.ContentCheckIn.UnlockerRole" value="sitecore\Unlocker"/>
    </settings>
  </sitecore>
</configuration>
